:root {
    --body-bg: #d5e8ef;
    --n-hoverbg: #58d8f3;
    --bod-bg: #d1eaed;
    --bod-bd: #86b3ad;
    --tip-bg: #e2ffeb;
    --tip-txtclr: darkgreen;
    --as-bg: #efefef;
    --as-bd: #bcddd3;
    --as-txtclr: #86b3ad;
}